* {
    box-sizing: border-box;
    font-family: "Meiryo","Hiragino Kaku Gothic Pro",  "Osaka", "MS PGothic", "sans-serif";
    margin: 0 auto;
  }
  
  a {
    text-decoration: none;
  }
  
ul {
  list-style: none;
  padding: 0;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  border: 0;
}

.responsive-sp,.responsive-tb {
  display: none;
}

.container {
  width: 1170px;
}

/* ここまで全体 */
/* ここからheader */
header {
  overflow: hidden;
  width: 100%;
  height: 75px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-wrap {
  width: 1170px;
  display: flex;
  padding-top: 15px;
}

.header-left {
  display: flex;
  margin: 0 0;
}

.header-title {
  padding-top: 23px;
  padding-left: 5px;
}

.header-logo img {
  width: 130px;
}

.header-title p {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

#header-form-sp {
  display: none;
}

.form-btn {
  color: #ffffff;
  display: inline-block;
  background-color: #DA6B64;
}

.form-btn:hover{
  background-color: #df4b41;
}

.header-form {
  padding: 11px 40px;
  border-radius: 22px;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.header-right {
  margin-right: 0;
}
/* headerここまで */
/* ここからtop */
.top {
  overflow: hidden;
  height: 575px;
  padding-top: 75px;
  background-image: url(img/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.top-wrap {
  text-align: center;
  padding-top: 90px;
}

.top-logo img {
  width: 310px;
}

.cover-title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
}

.text1 {
  padding-bottom: 10px;
}

.top-title h1 {
  font-size: 20px;
  line-height: 1.2;
}

.top-title{
  padding-top: 30px;
  letter-spacing: 0.1em;
}

/* topここまで */
/* ここからinfo */
.info {
  overflow: hidden;
  height: 600px;
  background-color: #EBB94D;
}

.info-wrap {
  text-align: center;
}

.info-texts {
  padding-top: 30px;
}

.info-text {
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 0.1em;
  line-height: 1.8;
  font-weight: bold;
  padding-bottom: 10px;
}

.price {
  font-size: 18px;
  color: #c7254e;
  letter-spacing: 0.1em;
  background-color: #F9F2F4;
  display: inline-block;
  border-radius: 5px;
  padding: 0 3px;
}

.btn-form {
  width: 1170px;
  background-color: #DA6B64;
  font-size: 28px;
  padding: 30px;
  font-weight: bold;
  border-radius: 50px;
  letter-spacing: 0.1em;
  margin-top: 50px;
}

.when {
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.1em;
  line-height: 3;
  margin-top: 50px;
  margin-bottom: 10px;
}

.fa-btn {
  color: white;
  font-size: 11px;
  padding: 2px 8px;
  border-radius: 3px;
}

.twitter {
  background-color: #1B95E0;
  margin-right: 5px;
}

.twitter:hover {
  background-color: #177bb9;
}

.good {
  background-color: #1877F2;
  margin-right: 5px;
  font-weight: bold;
}

.share{
  background-color: #1877F2;
  font-weight: bold;
}

/* infoここまで */
/* mainここから */

.main {
  height: 600px;
  background-image: url(img/introbottom.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 40px;
}

.main-title h2 {
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.1em;
}

.main-title br {
  display: none;
}

.main-title {
  position: relative;
  width: 860px;
  padding: 30px 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-title::before,.main-title::after {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-title::before {
  top: 0;
  left: 0;
  border-top: 4px solid #EBB94D;
  border-left: 4px solid #EBB94D;
}

.main-title::after {
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #EBB94D;
  border-right: 4px solid #EBB94D;
}

.main-text {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.1em;
  color: #333333;
}

.main-text-top {
  padding-top: 30px;
}

.main-text-center {
  padding-top: 30px;
}

.main-text-bottom {
  padding-top: 30px;
}

.underline-text {
  background: linear-gradient(transparent 70%, #EBB94D 0%);
  font-weight: bold;
}


/* mainここまで */
/* ここからabout */

/* aboutロゴ */
.about-logo {
  text-align: center;
  position: relative;
  top: -5%;
}

.about-logo p {
  font-size: 14px; 
  color: white;
  letter-spacing: 0.1em;
  background-color: #EBB94D;
  display: inline-block;
  padding: 28px 11px;
  border-radius: 45px;
}

.about {
  height: 650px;
  background-color: #FEF5E0;
}

.about-title h2 {
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.08em;
}

.about-title {
  position: relative;
  width: 860px;
  padding: 30px 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.about-title::before,.about-title::after {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.about-title::before {
  top: 0;
  left: 0;
  border-top: 4px solid #EBB94D;
  border-left: 4px solid #EBB94D;
}

.about-title::after {
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #EBB94D;
  border-right: 4px solid #EBB94D;
}

.about-text {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.skill-wrap {
  border: 2px solid #EBB94D;
  border-radius: 5px;
  background-color: white;
  width: 1170px;
  height: 250px;
}

.skill-title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
  padding-top: 30px;
}

.skill-text {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #333333;
  padding-top: 5px;
}

.skill-items img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.skills {
  display: flex;
  width: calc(100% - 38%);
  padding-top: 30px;
  text-align: center;
}

.hand {
  margin-top: -12px;
}

.star {
  margin-top: 6px;
}

.human {
  margin-top: 8px;
}

/* aboutここまで */
/* ここからstep */

.step {
  overflow: hidden;
  height: 440px;
  background-image: url(img/aboutsecondbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.step-text-wrap {
  color: white;
  text-align: center;
  padding-top: 60px;
}

.step-boxes {
  text-align: center;
}

.step-box {
  background-color: white;
  display: inline-block;
  padding: 30px;
  margin-left: 10px;
  margin-top: 15px;
  border-radius: 5px;
}

.step-box p {
  text-align: center;
}

.step-no {
  color: white;
  background-color: #EBB94D;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 0 125px;
  letter-spacing: 0.1em;
}

.step-title {
  font-size: 28px;
  letter-spacing: 1.5px;
  padding-bottom: 20px;
}

.step-title-text {
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: bold;
  padding-bottom: 15px;
}

.step-no-text-ban {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 20px;
  letter-spacing: 0.1em;
}

.step-no-text-learn {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.step-title-text span {
  color: #EBB94D;
}

/* stepここまで */
/* ここからneed */

.need {
  overflow: hidden;
  height: 144px;
  width: 100%;
  background-color: #016EA9;
}

.need-texts {
  color: white;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.1em;
  padding-top: 40px;
}

.need-text span {
  color: #EBB94D;
}

/* needここまで */
/* ここからlearning */

.learning {
  overflow: hidden;
  height: 510px;
  width: 100%;
  text-align: center;
}

.learning-title h2{
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.1em;
}

.learning-title {
  padding-top: 60px;
  padding-bottom: 30px;
}

.learning-title span {
  font-size: 16px;
}

.learning-text p {
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 32px;
  font-weight: 300;
}

.learning-text {
  padding-bottom: 40px;
}

.learning-item-text p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.learning-item-text {
  padding-top: 30px;
}

.learning-items img {
  width: 215px;
  height: 100%;
}

.learning-item {
  padding-right: 30px;
}

/* learningここまで */
/* ここからmerit */

.merit {
  overflow: hidden;
  height: 1020px;
  background-color: #FEF5E0;
}

.merit-wrap {
  padding-top: 40px;
}

.merit-section-title {
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.1em;
}

.merit-main-title {
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.08em;
}

.merit-title {
  position: relative;
  width: 860px;
  padding: 20px 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.merit-title::before,.merit-title::after {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.merit-title::before {
  top: 0;
  left: 0;
  border-top: 4px solid #EBB94D;
  border-left: 4px solid #EBB94D;
}

.merit-title::after {
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #EBB94D;
  border-right: 4px solid #EBB94D;
}

.merit-items {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 40px;
}

.merit-item img {
  height: 180px;
  width: 360px;
}

.merit-item {
 width: 33%; 
}

.merit-item-title {
  font-size: 20px;
  color: #ebb94d;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
  padding-top: 10px;
}

.merit-item-text {
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #333333;
  line-height: 26px;
  width: 360px;
  margin-left: 0;
}

.merit-plus {
  background-color: #FFFFFF;
  border: 2px solid #ebb94d;
  border-radius: 5px;
  text-align: center;
  padding: 40px 50px 50px 50px;
  margin-top: 50px;
}

.merit-plus-title {
  font-size: 28px;
  color: #ebb94d;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
}

.merit-plus-sectiontitle {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 32px;
  padding-bottom: 10px;
}

.merit-plus-text {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 26px;
}

.note {
  padding-top: 40px;
  text-align: center;
  width: 89%;
  color: #333333;
}

.note-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.1em;
}

/* meritここまで */
/* ここからmember */

.member-wrap {
  overflow: hidden;
  height: 1400px;
  -webkit-animation: 100%;
  background-image: url(img/teacherbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
  padding-bottom: 10px;
}

.member-main-title {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 30px;
  letter-spacing: 0.5px;
}

.member-section-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.member-title {
  padding-top: 80px;
}

.teacher-items {
  width: 800px;
}

.teacher-item {
  float: left;
  width: 50%;
}

.teacher-box {
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 1.6;
  border: 3px solid #ffffff;
  padding: 50px 0;
  margin: 0 15px;
}

.teacher-name {
  padding-top: 10px;
  padding-bottom: 10px;
}

.teacher-about {
  width: 78%;
  text-align: left;
}

.teacher-items img {
  position: relative;
  bottom: -35px;
  border-radius: 50%;
}

/* memberここまで */
/* ここからqa */

.qa-wrap {
  height: 270px;
  background-color: #EBB94D;
  text-align: center;
  padding-top: 40px;
}

.qa-logo {
  display: inline-block;
  color: #EBB94D;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.1em;
  padding: 30px 23px;
  border-radius: 50%;
}

.qa-title {
  font-size: 28px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
  width: 860px;
  padding: 15px 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qa-title::before,.qa-title::after {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qa-title::before {
  top: 0;
  left: 0;
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
}

.qa-title::after {
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
}

.qa-triangle {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #EBB94D;
  margin-top: 30px;
}

/* qaここまで */
/* ここからanswer */

.answer-wrap {
  overflow: hidden;
  height: 1050px;
  width: 100%;
  padding-top: 40px;
  text-align: center;
}

.answer-title{
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding-bottom: 10px;
  color: #333333;
}

.answer-section-title {
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: bold;
  padding-bottom: 30px;
  color: #333333;
}

.answer-text {
  font-size: 14px;
  letter-spacing: 0.1em;
  padding-bottom: 30px;
  color: #333333;
}

.ceo-item img {
  width: 240px;
  border: 3px solid #EBB94D;
  margin-right: 0;
}

.ceo-icon {
  margin-right: 0;
}

.ceo-item {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.ceo-message-text {
  width: 43%;
  text-align: left;
  margin: 0 0 90px 30px;
}

.ceo-message {
  font-size: 18px;
  color: #777777;
  letter-spacing: 0.1em;
}

.ceo-name {
  font-size: 15px;
  color: #777777;
  letter-spacing: 0.1em;
  text-decoration: underline;
  font-style: italic;
  padding-top: 10px;
}

.ceo-icon {
  margin-left: 17%;
}

/* ここまでanswer */
/* ここからcontent */

.content {
  overflow: hidden;
  height: 800px;
  width: 100%;
  background-image: url(img/classbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  padding-top: 55px;
  position: relative;
}

.content-title {
  color: #ffffff;
}

.content-main-title {
  font-size: 28px;
}

.content-section-title {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 45px;
}

.table-title {
  font-size: 20px;
  color: #ffffff;
  background-color: #016EA9;
  padding-top: 13px;
  padding-bottom: 13px;
}

.table-text {
  font-size: 16px;
  background-color: #ffffff;
  padding: 12px 20px;
  border-bottom: 1px dotted #E5E5E5;
}

.table-top {
  padding-top: 20px;
}

.table-box {
  border: 2px solid #016EA9;
  display: inline-block;
  border-radius: 5px;
  margin: 0 13px;
}

.table-list {
  margin: 0;
  padding: 0;
}

.tables {
  float: left;
  position: absolute;
  left: 28%;
}

.table-right {
  float: right;
}

.table-right li {
  padding-left: 60px;
  padding-right: 60px;
}

/* contentここまで */
/* ここからsuport */

.suport {
  overflow: hidden;
  height: 145px;
  width: 100%;
  background-color: #016EA9;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  padding-top: 40px;
  letter-spacing: 0.1em;
}

/* suportここまで */
/* ここからflow */

.flowbox-sp-wrap {
  display: none;
}

.flow-wrap {
  overflow: hidden;
  height: 1850px;
  width: 100%;
  letter-spacing: 0.1em;
  text-align: center;
  color: #333333;
}

.flow-title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.flow-icon-title {
  font-size: 18px;
  font-weight: 600;
  padding-top: 20px;
  text-align: center;
  color: #333333;
}

.bold {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  padding-top: 20px;
}

.normal {
  font-size: 14px;
  font-weight: 300;
  padding-top: 20px;
}

.flow-box {
  background-color: #FEF5E0;
  border-radius: 10px;
  width: 100%;
  padding: 5px 35px 10px;
}

.flow-icons {
  text-align: center;
  padding-bottom: 40px;
}

.flow-icon {
  margin: 0;
  float: left;
  padding: 20px 20px 0 20px;
}

.skype {
  padding-left: 40px;
  padding-right: 40px;
}

.docu {
  padding-top: 70px;
  padding-left: 30px;
  padding-right: 33px;
}

.flight {
  padding-left: 40px;
  padding-right: 50px;
}

.person {
  padding-left: 50px;
  padding-right: 50px;
}

.flow-texts {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 40px;
  text-align: left;
}

.box-bottom {
  padding-bottom: 30px;
}

/* flowここまで */
/* ここからbankokudata */

/* bankokudata全体 */
.bankokudata {
  overflow: hidden;
  height: 500px;
  width: 100%;
  background-image: url(img/bangkokbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
}

/* なぜバンコクなのか */
.bankokudata-title {
 font-size: 24px;
 letter-spacing: 0.1em;
 padding-top: 100px;
 padding-bottom: 20px;
}

/* ここまで見ると、... */
.bankoku-text-top {
  font-size: 14px;
  letter-spacing: 0.1em;
}

/* バンコクを選ぶ理由リスト */
.bankokudata-list {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding-top: 10px;
}

.bankokudata-lists {
  padding-top: 20px;
}

/* 環境が大切... */
.bankoku-text-bottom {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding-top: 20px;
}

/* bankokudataここまで */
/* ここからpresent */

/* present全体 */
.present {
  overflow: hidden;
  height: 680px;
  width: 100%;
  background-color: #F7C23C;
  text-align: center;
}

/* iSara受講生への参加特典 */
.present-title {
  font-size: 28px;
  letter-spacing: 0.1rem;
  padding-top: 60px;
}

/* 講座費用... */
.present-text {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding-top: 40px;
}

.present-text span {
  color: #ffffff;
}

/* 特典リスト全体 */
.presentsp {
  display: none;
}

.present-lists {
  border: 2px solid #ffffff;
  padding: 30px 25px 25px;
  height: 360px;
  width: 100%;
  margin-top: 30px;
}

/* iSaraは『実質0円』... */
.present-list-title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.1em;
  background-color: #F7C23C;
  display: inline-block;
  position: relative;
  top: 60px;
  padding: 0 60px;
}

/* 特典リスト中身 */
.present-list {
  width: 250px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 30px 60px;
  float: left;
}

.present-list-texts {
  text-align: center;
}

.present-number {
 font-size: 24px;
 color: #ebb94d;
 letter-spacing: 0.1em;
 padding-top: 35px;
}

.present-number-text {
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 600;
  padding-top: 10px;
  line-height: 22px;
}

/* presentここまで */
/* ここからtarget */

/* target全体 */
.target {
  overflow: hidden;
  height: 530px;
  width: 100%;
  background-image: url(img/specialdetail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* text全体 */
.target-texts {
  color: #ffffff;
  text-align: center;
}

/* iSaraはボランティアではありません */
.target-section-title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding-top: 60px;
}

/* ここまでみると、... */
.target-text-top {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  padding-top: 25px;
  padding-bottom: 45px;
  letter-spacing: 0.1em;
}

/* 月10万円稼げる... */
.target-title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  position: relative;
  width: 860px;
  padding: 15px 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.target-title::before,.target-title::after {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.target-title::before {
  top: 0;
  left: 0;
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
}

.target-title::after {
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
}

/* 最大の価値が... */
.target-text-bottom {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding-top: 25px;
}

/* targetここまで */
/* ここからmessage */

/* message全体 */
.message {
  overflow: hidden;
  height: 625px;
  width: 100%;
  text-align: center;
}

/* 創業者からのメッセージ */
.message-title {
  font-size: 28px;
  letter-spacing: 0.1rem;
  font-weight: 600;
  padding: 50px 0;
}

/* 「一生もののスキル」を... */
.message-section-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding-bottom: 30px;
}

/* タイトル、サブタイトル以外全体 */
.message-main {
  padding-left: 13.5%;
}

/* 創業者の画像 */
.message-left img{
  width: 193px;
  height: 100%;
}

.message-left {
  float: left;
}

/* messageの内容 */
.message-right {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  letter-spacing: 0.1em;
  width: 70%;
  padding-left: 70px;
  color: #333333;
}

.message-text {
  padding: 10px 0;
}

.message-lists {
  padding: 20px 0;
}

/* messageここまで */
/* ここからcontactform */

/* contactform全体 */
.contactform {
  overflow: hidden;
  height: 700px;
  width: 100%;
  background-color: #EBB94D;
  text-align: center;
  color: #333333;
}

/* 資料請求フォーム タイトル */
.contactform-title {
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 28px;
  letter-spacing: 0.1em;
}

/* まずは無料で... */
.contactform-sbtitle {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding-bottom: 20px;
}

/* form全体 */
.form {
  display: flex;
  flex-direction: column;
}

input {
  width: 98%;
  padding: 15px 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-size: 14px;
  margin: 15px 10px;
}

textarea {
  width: 98%;
  padding: 10px 0 40px 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-size: 14px;
  margin: 30px 10px 50px 10px;
}

/* 送信ボタン */
button {
  width: 100%;
  color: #ffffff;
  /* display: inline-block; */
  background-color: #DA6B64;
  padding: 11px 0;
  border-radius: 30px;
  border: 1px solid #DA6B64;
  font-size: 23px;
  letter-spacing: 1em;
  font-weight: 600;
}

/* contactformここまで */
/* ここからfaq */

/* faq全体 */
.faq-wrapper {
  overflow: hidden;
  width: 65%;
  padding-bottom: 50px;
}

/* よくある質問 */
.heading h2 {
  font-size: 28px;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 40px;
}

/* アコーディオンQ部分 */
#faq-list {
  margin: 0 auto;
  padding: 0;
  max-width: calc(100% - 40px);
}

.faq {
  width: 100%;
}

.faq h4 {
  font-size: 20px;
  letter-spacing: 1.5px;
}

.fa-question-circle-o {
  color: #016EA9;
}

.question-title {
  border: 1px solid #E5E5E5;
  padding: 15px 20px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 8px;
}

.question a {
  color: black;
}

.faq-list-item {
  margin:10px;
  position:relative;
  cursor:pointer;
  text-align: left;
}

.question-title:after {
  content: "";
  position: absolute;
  right: 20px;
  top: 30%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 7px;
  height: 7px;
  border-top: solid 4.5px #333333;
  border-right: solid 4.5px #333333;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.question-title.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 40%;
}

.question-title:hover {
  text-decoration: underline;
}

/* アコーディオンA部分 */
.answer p {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 20px;
}

.answer {
  display: none;
}

/* faqここまで */
/* ここからfooter */

footer {
  overflow: hidden;
  height: 180px;
  width: 100%;
  background-color: #ECECEC;
  text-align: center;
}

/* footerテキスト全体 */
.footer-texts p {
  font-size: 10px;
  letter-spacing: 1.6px;
}

.footer-texts {
  padding-top: 35px;
}

.footer-texts a {
  color: #23527c;
}

.copyright {
  padding-bottom: 15px;
}

/* ここからpage-top */
#page-top {
  background-color: #ECECEC;
  padding: 15px 23px;
  position: fixed;
  bottom: 80px;
  right: 50px;
  font-size: 30px;
  font-weight: bold;
}

#page-top a {
  color: #333333;
}

#page-top:hover {
  cursor: pointer;
}
